// Colors
$Kingston_White: white;
$Kingston_White50: rgba(255, 255, 255, 0.5);
$Kingston_Black: rgba(0, 0, 0, 0.87);
$Kingston_Black54: rgba(0, 0, 0, 0.54);
$Kingston_LightGray: rgba(0, 0, 0, 0.38);
$Kingston_LightBg: #EEEEEE;
$Kingston_Red: #DB2627;
$Kingston_Pink: #FF8A80;
$Kingston_Green: #00C097;
$Kingston_DarkGreen: #26A69A;
$Kingston_Gold: #E0B300;
$Kingston_LightRed: #FF2F30;

$Kingston_GenerativeAI_Primary: #EA0428;
$Kingston_GenerativeAI_Secondary: #3E64FF;
$Kingston_GenerativeAI_DarkBg: #020457;
$Kingston_GenerativeAI_LightBg: #D7DEF8;

// Device width
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;
